substack-api==0.1.0
kaggle==1.6.17
pydantic==2.10.2
pandas
requests==2.32.3
simplejson==3.19.3
botocore==1.29.32
schedule==1.2.2
PyJWT
cryptography==44.0.0
beautifulsoup4==4.12.3
numpy
scikit-learn
feedparser==6.0.11
pytz==2024.2
Flask
Flask-Cors==5.0.0
Flask-Limiter
uvicorn
sqlitedict==2.1.0
sendgrid==7.0.0rc2
pilott
